{-# LANGUAGE OverloadedStrings #-}
{-# LANGUAGE NamedFieldPuns #-}
{-# LANGUAGE GeneralizedNewtypeDeriving #-}
{-# LANGUAGE ScopedTypeVariables #-}
{-# LANGUAGE TypeSynonymInstances #-}
{-# LANGUAGE FlexibleInstances #-}
{-# LANGUAGE TupleSections #-}

module Advent.Day{{ day }}
  ( partOne
  , partTwo
  ) where

import Debug.Trace

import Advent
import qualified Data.ByteString.Lazy.Char8 as C

partOne :: () -> Int
partOne = undefined

partTwo :: () -> Int
partTwo = undefined

instance Parseable () where
  parse = undefined
