[project]
name = "advent_of_code"
version = "0.1.0"
description = "solutions for advent of code"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
