s" ../files.fth" included
s" ../debug.fth" included
s" ../stack.fth" included

: (parta) ( a u -- n )
    over-lines
        \ TODO
    done-lines ;

: parta ( -- ) s" ../data/{{ year }}/day{{ day }}.txt" (parta) . cr ;

: (partb) ( a u -- n )
    over-lines
        \ TODO
    done-lines ;

: partb ( -- ) s" ../data/{{ year }}/day{{ day }}.txt" (partb) . cr ;
