
: test-(parta) s" ../sample/{{ year }}/day{{ day }}.txt" (parta) assert( 0<> ) ;
: test-(parta)-data s" ../data/{{ year }}/day{{ day }}.txt" (parta) assert( 0<> ) ;

: test-(partb) s" ../sample/{{ year }}/day{{ day }}.txt" (partb) assert( 0<> ) ;
: test-(partb)-data s" ../data/{{ year }}/day{{ day }}.txt" (partb) assert( 0<> ) ;

: test-all
    test-(parta)
    test-(parta)-data
    test-(partb)
    test-(partb)-data
    ;